
<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="../../assets/first-slide.png" alt="first-slide">
        </ion-slide>
        <ion-slide>
            <img src="../../assets/second-slide.png" alt="second-slide">
        </ion-slide>
        <ion-slide>
            <img src="../../assets/third-slide.png" alt="third-slide">
        </ion-slide>
        <ion-slide>
            <img src="../../assets/4th-slide.png" alt="4th-slide">
        </ion-slide>
        <ion-slide>
            <img src="../../assets/5th-slide.png" alt="5th-slide">
            <ion-button (click)="start()">شروع برنامه</ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>