.modal-title {
  font-size: 14px;
  text-align: center;
}

ion-icon {
  color: red;
  font-size: 30px;
}

.input-container {
  margin-bottom: 10px;
  text-align: right;

  ::ng-deep ion-input {
    font-family: 'Segoe UI';
  }
}

.button-container {
  display: flex;
  padding: 15px;

  .add-button {
    flex: 2;
    margin-left: 5px;
    font-size: 16px;
  }

  .cancel-button {
    flex: 1;
    font-size: 16px;
  }
}
